@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient {
  border-radius: 0.175rem;
  text-align: left;
  border-color: #252525;
  color: #ffffff;
  padding: 0.75rem;
  max-width: 32rem;
  background: linear-gradient(to right, #18181b 95%, #3d3d41 5%);
}

.errorgradient {
  border-radius: 0.175rem;
  text-align: left;
  border-color: #252525;
  color: #ffffff;
  padding: 0.75rem;
  max-width: 32rem;
  width: 100%;
  background: linear-gradient(to right, #18181b 95%, #ff0000 5%);
}

.input {
  border-radius: 0.175rem;
  text-align: left;
  border-color: #252525;
  color: #ffffff;
  padding: 0.75rem;
  max-width: 32rem;
  width: 100%;
  background-color: #18181b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: lighter;
}
