* {
  margin: 0px;
}
body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
}
h1 > span {
  opacity: 50%;
}
p {
  font-style: italic;
  font-size: 0.7rem;
}
p > span {
  text-decoration: underline;
}
button {
  margin: 1rem;
  font-size: 2rem;
  height: 2.5rem;
  width: 9rem;
}
.login-button {
  background-color: #252525;
  border: black 2px solid;
  border-radius: 5px;
}
.signup-button {
  background-color: black;
  border: #252525 2px solid;
  border-radius: 5px;
}
